/* 公共样式 */
.fl {
    float: left;
}
.fr {
    float: right;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3udxgz');
    src:  url('../fonts/icomoon.eot?3udxgz#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3udxgz') format('truetype'),
      url('../fonts/icomoon.woff?3udxgz') format('woff'),
      url('../fonts/icomoon.svg?3udxgz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.style_red {
    color: #c81623;
}
/* 顶部快捷导航shart */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}
.shortcut ul li {
    float: left;
    color: #666;
}
.shortcut .fr ul li a {
    padding: 0 16px 0 14px;
    border-right: 1px solid #666
}
.shortcut .fr ul li .spacer {
    padding-right: 0;
    border: 0;
}
.fr .icomoom {
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 25px;
}
/* 顶部快捷导航end */
/* header制作shart */
.herder {
    position: relative;
    height: 105px;
}
.e {
   
    width: 30px;
    height: 30px;
}
.logo {
    position: absolute;
    top: 25px;
    left: 3px;
    width: 175px;
    height: 60px;
}
.logo h1 {
    width: 100%;
    height: 100%;
}
.logo h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/logo.png) no-repeat;
    /* 方法一：设置文字只在一行显示text-insent:-9999px; 在隐藏溢出visibility: hidden; */
    /* 方法二：字号为0就是不显示的意思 */
    font-size: 0;
}
.search {
    position: absolute;
    top: 25px;
    left: 348px;
}
.search .text {
    width: 444px;
    height: 32px;
    border: 2px solid #c81623;
    color: #ccc;
    padding-left: 10px;
}
.btn {
    width: 82px;
    height: 36px;
    background-color: #c81623;
    color: #fff;
    font-size: 16px;
    border: 0;
}
.hotwrods {
    position: absolute;
    top: 60px;
    left: 360px;
}
.hotwrods ul li {
    float: left;
    margin: 8px 25px 0 0;
}
.shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    width: 138px;
    height: 34px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 34px;
    font-family: 'icomoon';
    text-align: center;
}
.shopcar .car {
    color: #d95151;
}
.shopcar .count {
    position: absolute;
    top: -5px;
    /* 应该是左侧对齐，这样文字才能往右走 */
    left: 100px;
    background-color: #e60012;
    height: 14px;
    /* 行高会继承 所以这里继承了要单独给一个 */
    line-height: 14px;
    padding: 0 3px;
    color: #fff;
    /* border-radius: 左上角 右上角 右下角 左下角; */
    border-radius: 7px 7px 7px 0;
}
/* header制作end */

/* nav制作start */
.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}
.dorpdown {
    width: 209px;
    height: 45px;
    background-color: #b1191a;
}
.dorpdown .dt {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #fff;
    line-height: 45px;
    text-align: center;
}
.dorpdown .dd {
    height: 465px;
    margin-top: 2px;
    background-color: #c81623;

}
.menu_item {
    height: 31px;
    margin-left: 2px;
    line-height: 31px;
    padding: 0 10px;
    color: #fff;
}
.menu_item:hover {
    background-color: #fff;
    color: #c81623;
}
/* 鼠标经过了li时，里面链接a的颜色为红色 */
.menu_item:hover a {
    color: #c81623;
}
.menu_item a {
    font-size: 14px;
    color: #fff;
}
.menu_item i { 
    float: right;
    font-family: 'icomoon';
    font-size: 18px;
    color: #fff;
}
.navitems {
    margin-left: 10px;
}
.navitems ul li {
    float: left;

}
.navitems a {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font-size: 16px;
    color: #333;
}
.navitems a:hover {
    color: #c81623;
}
.dorpdown ul {
    overflow: hidden;
}
.menu_item {
    transition: all .5s;
}
.menu_item:hover {
    padding-left: 20px;
}
/* nav制作end */

/* footer制作start */
.footer {
    height: 386px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service {
    height: 79px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    height: 79px;
    width: 240px;
}
.mod_service_icon {
    /* i是行内元素但是现在他是浮动的盒子，可以直接给大小，不用转换 */
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 36px;
    background: url(../img/icons.png) no-repeat
}
.mod_service_zheng {
    background-position: -252px -3px;
}
.mod_service_tit {
    float: left;
    margin: 6px 0 0 7px;
}
.mod_service_tit h5 {
    font-size: 14px;
    color: #333;
}
.mod_service_kuai {
    background-position: -255px -53px;
}
.mod_service_bao {
    background-position: -256px -106px;
}
.mod_service_te {
    background-position: -258px -157px;
}
.mod_service_bang {
    background-position: -256px -209px;
}
.mod_help {
    height: 187px;
    border-bottom: 1px solid #ccc
}
.mod_help_item {
    float: left;
    width: 150px;
    padding:20px 0 0 50px;
}
.mod_help_item dt {
    height: 28px;
    color: #333;
    font-size: 16px;
}
.mod_help_item dd {
    height: 20px;
} 
.mod_help_app p,
.mod_help_app dt {
    padding-left: 15px;
    color: #333;
}
.mod_help_app img {
    margin: 5px 0;
}
.mod_copyright_a {
    margin: 15px 0 12px;
    text-align: center;
}
.mod_copyright_a a {
    display: inline-block;
    padding: 0 16px 0 14px;
    border-right: 1px solid #999;
}
.mod_copyright_a a:last-child {
    padding-right: 0;
    border: 0;
}
.mod_copyright p {
    text-align: center;
}
/* footer制作end */



