
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3udxgz');
    src:  url('../fonts/icomoon.eot?3udxgz#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3udxgz') format('truetype'),
      url('../fonts/icomoon.woff?3udxgz') format('woff'),
      url('../fonts/icomoon.svg?3udxgz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
/* 引入首页的css */ 
.main {
    width: 980px;
    height: 454px;
    margin: 10px 0 0 220px;
    border-right: 1px solid #c81623;
    border-bottom: 1px solid #c81623;
}
.focus {
    position: relative;
    width: 720px;
    height: 454px;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-family: 'icomoon';
    font-size: 20px;
}
.arrow-r {
    right: 0;
}
.circle {
    position: absolute;
    bottom: 15px;
    left: 50px;
}
.circle li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:1px solid rgba(255, 255, 255, .6);
    margin: 0 4px;
    cursor: pointer;
}
.circle li:hover {
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, .4);
}
.newsflash {
    width: 250px;
    height: 454px;
}
.news {
    height: 163px;
    border: 1px solid #ccc;
}
.news_hd {
    line-height: 32px;
    height: 32px;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    padding: 0 15px;
    color: #333;
}
.news_hd a {
    float: right;
    font-family: 'icomoon';
    font-size: 12px;
}
.new_bd {
    padding: 10px 0 0 15px;
}
.new_bd li {
    height: 23px;
}
.lifeservice {
    /* 隐藏多余的边框 */
    overflow: hidden;
    height: 208px;
    border: 1px solid #ccc;
    border-top: 0;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice li {
    position: relative;
    float: left;
    height: 70px;
    width: 62px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lifeservice li a {
    /* 解决 .service_ico 引起的外边距塌陷问题 */
    overflow: hidden;
    display: block;
    height: 100%;
}
.service_ico {
    display: block;
    height: 24px;
    width: 28px;
    margin: 10px auto;
    background: url(../img/icons.png) no-repeat;
}
.lifeservice ul li p {
    text-align: center;
}
.service_ico_huafei {
    background-position: -17px -16px;
}
.service_ico_jipiao {
    background-position: -80px -16px;
}

.service_ico_dianying {
    background-position: -141px -17px;
}
.service_ico_youxi {
    background-position: -204px -16px;
}
.service_ico_caipiao {
    background-position: -17px -88px;
}
.service_ico_jiayou {
    background-position: -77px -88px;
}
.service_icojiudian {
    background-position: -141px -88px;
}
.service_ico_huoche {
    background-position: -206px -88px;
}
.service_ico_zhongchou {
    background-position: -17px -158px;
}
.service_ico_licai {
    background-position: -77px  -158px;
}
.service_ico_lipin {
    background-position: -141px -154px;
}
.service_ico_baitiao {
    background-position: -206px -159px;
}
.hot {
    position: absolute;
    top: 0;
    left: 113px;
    width: 12px;
    height: 15px;
    background: url(../img/jian.jpg) no-repeat;
}
.bargain {
    height: 75px;
    margin-top: 5px;
    background: url(../upload/bargain.jpg) no-repeat;
}
/* 首页main end */

/* recoommend推荐模块 start */
.recoommend {
    margin-top: 10px;
    height: 163px;
}
.recom_hd {
    width: 205px;
    height: 100%;
    background-color: #5c5251;
    text-align: center;
}
.recom_hd img {
    margin: 30px 0 10px 0;
}
.recom_hd h3 {
    font-weight: 400;
    color: #fff;
    font-size: 18px;
}
.recom_bd {
    width: 995px;
    height: 100%;
    background-color: #ebebeb;
}
.recom_bd li {
    float: left;
    width: 248px;
    height: 143px;
    margin: 10px 0;
    border-right: 1px solid #ccc;
    overflow: hidden;
}
.recom_bd li:nth-child(4) {
    border: 0;
}
.recom_bd li img {
    height: 100%;
    transition: all .3s;
}
.recom_bd li img:hover {
    transform: scale(1.1);
}
/* recoommend推荐模块 end */

/* Guess猜你喜欢 start */
.guess {
    margin-top: 26px;
    height: 266px;
}
.guess_td h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.guess_td a {
    float:right;
    font-family: 'icomoon';
    margin-right: 10px;
    font-size: 14px;
}
.guess_td span {
    display: inline-block;
    transition: all .4s;
}
.guess_td a:hover span {
    transform: rotate(180deg);
}
.guess_bd {
    overflow: hidden;
    height: 230px;
    margin-top: 7px;
    border: 1px solid #ededed;
}
.guess_bd ul {
    width: 1205px;
}
.guess_bd li {
    float: left;
    width: 200px;
    height: 230px;
}
.guess_bd li img {
    display: block;
    width: 142px;
    height: 142px;
    margin: 16px auto 0;
}
.explanation {
    width: 164px;
    height: 62px;
    padding-left: 35px;
    margin-bottom: 9px;
    border-right:1px solid #ededed;
}
.explanation span {
    color: #df3033;
    font-size: 18px;
}
.explanation span i {
    font-size: 14px;
}
.guess_bd li {
    overflow: hidden;
}
.guess_bd img {
    transition: all .3s;
}
.guess_bd li:hover img {
    transform: translateY(-8px);
}






/* Guess猜你喜欢 end */

 /* interesting有趣区 start  */
.interesting {
     margin-top: 26px;
}
.interesting h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.interesting_d {
    overflow: hidden;
    height: 405px;
    border:1px solid #ededed;
    border-left: 0;
}
.interesting_td {
    width: 404px;
    height: 100%;
}
.interesting_td a {
    display: block;
    height: 100%;
}
.interesting_rd {
    height: 100%;
    width: 226px;
    background-color: #fff;
    border-right: 1px solid #ededed;
}
.interesting_rd dt {
    height: 39px;
    margin: 0 18px;
    border-bottom: 1px dashed #ccc;
    text-align: center;
    line-height: 39px;
    font-weight: 600;
    font-size: 14px;
}
.interesting_rd dd {
    width: 226px;
    height: 206px;
    border-bottom: 1px solid #ededed;
}
.interesting_bd {
    overflow: hidden;
    width: 405px;
    height: 100%;
    background-color: #f7f7f7;
    border-right: 1px solid #ededed;
}
.interesting_bd dl {
    width: 410px;
}
.interesting_bd dt {
    height: 39px;
    margin: 0 18px;
    border-bottom: 1px dashed #ccc;
    text-align: center;
    line-height: 39px;
    font-weight: 600;
    font-size: 14px;
}
.interesting_bd_a {
    border-bottom: 1px solid #ededed;
}
.interesting_bd_b {
    width: 203px;
    height: 158px;
    border-right: 1px solid #ededed;
}
.interesting_ld {
    overflow: hidden;
    width: 152px;
    height: 403px;
    border-left: 0;
    padding-left: 9px;
}
.interesting_ld ul {
    width: 154px;
}
.interesting_ld li {
    position: relative;
    float: left;
    width: 76px;
    height: 57px;
    border-bottom: 1px dashed #ededed;
    border-right: 1px dashed #ededed;
}
.interesting_ld li:nth-child(-n+2) {
    margin-top: 14px;
    height: 43px;
}
.interesting_ld li:nth-child(n+13) {
    margin-bottom: 11px;
    height: 46px;
    border-bottom: 0;
}
.interesting_ld li img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 100%;
}
.interesting_td, 
.interesting_rd, 
.interesting_bd {
    overflow: hidden;
}
.interesting_td img,
.interesting_rd img,
.interesting_bd img {
    transition: all .3s;
}
.interesting_td img:hover {
    transform: scale(1.1);
}
.interesting_rd img:hover {
    transform: scale(1.1);
}
.interesting_bd img:hover {
    transform: scale(1.1);
}
.interesting_d dd {
    overflow: hidden;
}
 /* interesting有趣区 end  */

/* floor楼层区start */
.box-hd {
    height: 30px;
    margin-top: 25px;
    border-bottom: 2px solid #c81623;
}
.box-hd h3 {
    float: left;
    font-weight: 400;
    font-size: 18px;
    color: #c81623;
}
.box-hd .tab-list {
    float: right;
    line-height: 30px;
    margin-right: 8px;
}
.tab-list li {
    float: left;
}
.tab-list li a {
    padding: 0 16px 0 14px;
    border-right: 1px solid #999;
}
.tab-list ul li:last-child a {
    padding-right: 0;
    border: 0;
}
.box-bd {
    height: 360px;
}
.tab-con li {
    float: left;
    height: 360px;
}
.w209 {
    width: 209px;
    background-color: #f9f9f9;
}
.tab-con-list {
    margin-bottom: 15px;
    padding-left: 13px;

}
.tab-con-list li {
    float: left;
    width: 86px;
    height: 32px;
    margin-right: 12px;
    border-bottom: 1px solid #ededed;
    text-align: center;
    line-height: 32px;
}
.w209 img {
    padding-left: 10px;
}
.w329 {
    position: relative;
    width: 329px;
}
.w329 ol {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}
.w329 ol li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3e3e3e;
    margin-right: 7px;
}
.w329 ol li:first-child {
    background-color: #fff;
}
.w329 ol li:last-child {
    margin: 0;
}
.w329 ol li:hover {
    background-color: #fff;
}
.w219 {
    height: 359px;
    width: 219px;
    border-right: 1px solid #ededed
}
.tab-con-item {
    border-bottom: 1px solid #ededed;
}
.w220 {
    height: 359px;
    width: 220px;
    border-right: 1px solid #ededed
}
.box-md {
    overflow: hidden;
    margin-top: 20px;
    height: 65px;
    background-color: #f7f7f7;
}
.tab-con-lattice li {
    float: left;
    padding: 0 10px;
    margin: 13px 0;
    border-right: 1px dashed #ccc;
}
.tab-con-lattice li:last-child {
    border: 0;
    padding-right: 0;
}
.box-bd li {
    overflow: hidden;
}
.tab-con-item {
    overflow: hidden;
}
.box-bd  img {
    transition: all .3s;
}
.box-bd img:hover {
    transform: translateY(-8px);
}
 /* floor楼层区end  */

 /* Popular热门区start */
.popular {
    margin-top: 25px;
}
.popular h3 {
    height: 35px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
}
.popular-list {
    height: 281px;
    border: 1px solid #ededed;
    border-bottom: 0;   
}
.side {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.popular-list li {
    float: left;
    height: 281px;
}
.w239 {
    width: 239px;
}
.popular-con {
    padding-left: 30px;
}
.popular-list li span {
    font-size: 16px;
    color: #df3033;
}
.popula-item {
    width: 209px;
    height: 100px;
    padding: 18px 0 22px 10px;
}
.popular-like {
    float: left;
    margin-left: 6px;
}
.popular-list ul li:last-child {
    border-bottom: 1px solid #ededed;
}
 /* Popular热门区end */

 /* fixedtool侧边栏start */
.fixedtool {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -610px;
    transform: translateX(-100%);
}
.fixedtool li {
    width: 66px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.fixedtool .current {
    background-color: #c81623;
    color: #fff;
}
 /* fixedtool侧边栏end */

